<!doctype html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Szakdolgozat</title>
    {% block stilusok %}
        <link rel="stylesheet" href="{{ asset('css/alap.css') }}" type="text/css"/>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    {% block javascriptek %}
    {% endblock %}
</head>
<body>
<header>
    <nav id="menu">
        <ul>
            <li><a href="{{ path('szakdoga_homepage') }}">Főoldal</a></li>
            <li><a href="{{ path('szakdoga_szallasok') }}">Szállások</a></li>
            <li><a href="{{ path('szakdoga_kapcsolat') }}">Kapcsolat</a></li>
        </ul>
    </nav>
</header>
<div id="tartalom-div">
    {% block tartalom %}
        <div id="felxi">
            <div id="tartalom-top">
                {% block tartTop %}
                {% endblock %}
            </div>
            <div id="kereses">
                <span class="ablakcim">Keresés</span>
                <div>
                    <table border="0" align="center">
                        <form action="{{ path('szakdoga_szallasok') }}" method="post">
                            <tr>
                                <td><input type="search" name="kereses" maxlength="100" placeholder="Keresés.."/></td>
                                <td width="40">
                                    <button type="submit"></button>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
            <div id="belepes">
                {% if usrsess.id != 0 %}
                    <span class="ablakcim">Fiókom</span>
                    <div>
                        <table border="0" align="center">
                            <tr>
                                <td colspan="2" align="left">
                                    Üdvözöljük az oldalon!<br/>
                                    <ul>
                                        <li><a href="{{ path('szakdoga_logout') }}">Profil megtekintése</a></li>
                                        <li><a href="{{ path('szakdoga_logout') }}">Kilépés</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <span class="ablakcim">Belépés</span>
                    <div>
                        <table border="0" align="center">
                            <form action="{{ path('szakdoga_homepage') }}" method="post">
                                <tr>
                                    <td class="cimke">E-mail:</td>
                                    <td><input type="email" name="email" maxlength="100"/></td>
                                </tr><tr>
                                    <td class="cimke">Jelszó:</td>
                                    <td><input type="password" name="password" maxlength="100"/></td>
                                </tr><tr>
                                    <td colspan="2" align="center">
                                        <input type="submit" value="Belépés">
                                    </td>
                                </tr><tr>
                                    <td colspan="2" align="left">
                                        <ul>
                                            <li><a href="#">Regisztráció</a></li>
                                            <li><a href="#">Jelszóemlékeztető</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </form>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class=".clear"></div>
    {% endblock %}
</div>
<footer>
    <p>Copyright &copy; Gécseg Dániel - szakdolgozat</p>
</footer>
</body>
</html>