{% extends 'SzakdolgozatLayoutBundle:Main:index.html.twig' %}

{% block stilusok %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('css/apartment_list.css') }}" type="text/css">
{% endblock %}

{% block tartalom %}
    <div id="body-title">Apartmanok</div>
    <div id="szuro">
        <p>Szűrési feltételek</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="clear"></div>
    {% for apartment in apartments %}
        <article>
            <header>
                <a title="További információk" href="{{ path('apartman', {'id':apartment.id } ) }}">{{ apartment.name }}</a>
            </header>
            <div class="ajanlat-body">
                <div class="kep">
                    <img src="szallasKepek/szallas.belyegkep.kepnev" width="100" alt="">
                </div>
                <div class="leiras">
                    {{ apartment.city }}, {{ apartment.address }}
                    <br/><br/>
                </div>
                <div class="clear"></div>
                <p>
                    <a title="További információk" href="{{ path('apartman', {'id':apartment.id } ) }}">
                        <img src="{{ asset('images/info.png') }}" width="30" alt="Megtekintés">
                    </a>
                </p>
            </div>
        </article>
    {% endfor %}
{% endblock %}