{% extends 'SzakdogaBundle::alap.html.twig' %}

{% block stilusok %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('css/szallasok.css') }}" type="text/css">
{% endblock %}

{% block tartTop %}
    <div id="szuro">
        ajaj
    </div>
{% endblock %}

{% block tartalom %}
    {{ parent() }}
    <div class="clear"></div>
    <div id="szallasok">
        {% for szallas in szallasok %}
            <article>
                <header>
                    <a title="További információk" href="{{ path('szakdoga_szallas', {'id':szallas.id } ) }}">{{ szallas.nev }}</a>
                </header>
                <div class="ajanlat-body">
                    <div class="kep">
                        <img src="{{ asset('szallasKepek/' ~ szallas.belyegkep.kepnev) }}" width="100" alt="">
                    </div>
                    <div class="leiras">
                        {{ szallas.varos }}, {{ szallas.cim }}
                        <br/><br/>
                        {{ szallas.leiras|length > 150 ? szallas.leiras|slice(0, 150) ~ '...' : szallas.leiras|nl2br }}
                    </div>
                    <div class="clear"></div>
                    <p>
                        <a title="További információk" href="{{ path('szakdoga_szallas', {'id':szallas.id } ) }}">
                            <img src="{{ asset('images/info.png') }}" width="30" alt="Megtekintés">
                        </a>
                    </p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}