{% extends 'SzakdogaBundle::alap.html.twig' %}

{% block stilusok %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('css/szallas.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('js/clearbox/config/default/cb_style.css') }}" />
{% endblock %}

{% block javascriptek %}
    <script type="text/javascript" src="../js/clearbox.js?dir=../js/clearbox"></script>
{% endblock %}

{% block tartTop %}
    <div id="fo-leiras">
        <h4>{{ szallas.nev }}</h4>
        <div id="kep">
            <img src="{{ asset('szallasKepek/' ~ szallas.belyegkep.kepnev) }}" width="200" alt=""/>
        </div>
        <div id="cim">{{ szallas.varos }}, {{ szallas.cim }}</div>
        <div id="opciok">
            {% for opcio in szallas.opciokTomb %}
                <img src="{{ asset('images/' ~ opcio.kepnev) }}" alt="{{ opcio.title }}" title="{{ opcio.title }}" width="30"/>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block tartalom %}
    {{ parent() }}
    <div class="clear"></div>
    <div id="tabok">
        <div class="tab">
            <input type="radio" id="tab-1" name="tab-group-1" checked>
            <label for="tab-1">Leírás</label>
            <div class="content">
                <p>{{ szallas.leiras|nl2br }}</p>
            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-2" name="tab-group-1">
            <label for="tab-2">Szobák</label>
            <div class="content">
                <table>
                    <tr>
                        <td id="szobaszam">Szobaszám</td>
                        <td id="fo">Fő</td>
                        <td id="agy">Ágyak</td>
                        <td id="legter">Légtér</td>
                        <td id="ar">Ára</td>
                        <td id="foglalo">Foglal</td>
                    </tr>
                {% for szoba in szallas.szobak %}
                    <tr>
                        <td>{{ szoba.szobaszam }}</td>
                        <td>{{ szoba.fo }}</td>
                        <td>{{ szoba.agyak }}</td>
                        <td>{{ szoba.legter }}</td>
                        <td>{{ szoba.ar|number_format(0, '.', ' ') }} Ft/fő/nap</td>
                        <td><a href="#">Lefoglalom</a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-3" name="tab-group-1">
            <label for="tab-3">Galéria</label>
            <div class="content">
                <div id="galeria">
                    <ul>
                        {% for kep in szallas.kepek %}
                            <li>
                                <a href="../szallasKepek/{{ kep.kepnev }}" rel="clearbox[gallery=gal]" title="{{ szallas.nev }}">
                                    <img src="../szallasKepek/{{ kep.kepnev }}" alt="{{ szallas.nev }}" width="100" alt=""/>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}